
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family :"Regular";
    src: url("./assets/Font/KantumrutPro-Regular.ttf") format('truetype');
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(81,57,96);
  background: linear-gradient(90deg, rgba(81,57,96,1) 0%, rgba(33,102,161,1) 8%, rgba(28,52,75,1) 100%);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(81,57,96);
  background: linear-gradient(90deg, rgba(81,57,96,1) 0%, rgba(22,68,107,1) 8%, rgba(28,52,75,1) 100%);
}